# File not recognized by default. Must be linked with git's `include.path`.
# This happens via the flake dev shell.

[hook "fmt-check"]
  event = pre-commit
  command = just fmt-check

[hook "abi-ledger"]
  event = pre-commit
  command = just abi-ledger --check
